:root {
  /* ヘッダー高さ */
  --app-header-height: 100px;
}
.button-base,
button {
  padding: 10px 14px;
  font-size: var(--fs-title-sub);
  border-radius: 10px;
  border: none;
  background-color: var(--table-header-color);
  color: #fff;
  cursor: pointer;
}
